html,body{
	padding:0;
	margin:0;
}
body{
	min-width:350px;
}
a{
	text-decoration: none;
	color: white;
}
@keyframes portrait-shining{
	0%{
		border: .5px solid #5DB0F3;
	}
	50%{
		box-shadow: 0 0 40px #C9E0F4;
	}
	100%{
		border: .5px solid #5DB0F3;
	}
}
@keyframes circle-shining{
	0%{
		margin-left:-23px;
		border: 2px solid #C9E0F4;
	}
	50%{
		box-shadow: 0 0 15px #188EEE;
	}
	100%{
		margin-left:-23px;
		border: 2px solid #C9E0F4;
	}
}
@keyframes progressing{
	0%{
		width:0;
	}
	100%{
		width:100%;
	}
}
.resume{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height:100vh;
}
.page{
	align-self:stretch;
	flex:1;
	text-align: center;
}
.cover{
	display: cover;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:0 10px;
	color: white;
	background:url('./img/bg.png') repeat #188EEE;
}
.port-container{
	position:relative;
	height: 112px;
}
.portrait{
	position: absolute;
	top:50%;
	left: 50%;
	height: 100px;
	width:100px;
	margin:auto auto;
	color: white;
	background: url('./img/portrait.jpg') no-repeat white;
	background-size: cover;
	border-radius: 50%;
	border: 6px solid #5DB0F3;
	transform: translate(-50%,-50%);
}
.portrait:hover{
	border: .5px solid #5DB0F3;
	transition: .7s border cubic-bezier(0.23,1,0.23,1);
	animation: 1.1s infinite portrait-shining;
	animation-delay: .5s;
}
.nameplate,.contacts{
	padding-bottom: 30px;
}
.nameplate,.name{
	padding: 15px 0;
	font-size: 24px;
}
.nameplate,.tag,.contacts{
	font-size: 14px;
}
.contacts div{
	padding: 8px 0;
	text-align: left;
}
.contacts span{
	padding:4px;
	margin-right:10px;
	border:1px solid white;
	border-radius: 50%;
}
.brief-intro{
	display:flex;
	flex-wrap:wrap;
	width:280px;
	font-size:.8em;
	border: 1px solid #0E6AB8;
	box-shadow: 0 0 1px #5DB0F3;
	border-radius: 5px;
}
.brief-intro div{
	position:relative;
	padding:50px 0 30px 20px;
	box-sizing: border-box;
	padding:8px 5px;
	text-align: left;
}
.detail{
	box-sizing: border-box;
	padding:50px 0 30px 20px;
	background-color: #F5F5F5;
}
.experience,.ability{
	flex:1;
	width:100%;
	padding-bottom: 30px;
}
.label{
	position:relative;
	margin: 35px 0;
}
.label div{
	position:relative;
	z-index:1;
	display:inline-block;
	padding:0 10px;
	font-size: 20px;
	line-height: 100%;
	color: #188EEE;
    background-color: #F5F5F5;
}
.label:before,.label:after{
	content:'';
	position: absolute;
	top:50%;
	height: 1px;
	width:50%;
	background:lightgrey;
}
.label:before{
	left:0;
}
.label:after{
	left:50%;
}
.item{
	text-align:left;
	padding-left:30px;
}
.experience .item{
	position:relative;
	padding-left:30px;
}
.experience .item:before{
	position: absolute;
	content: '';
	height: 100%;
	width:1px;
	margin-left:-16px;
	background: lightgrey;
}
.experience .item:hover .title .period:before{
	animation: 1.1s infinite circle-shining;
}
.experience .item:not(:last-child){
	padding-bottom: 20px;
}
.ability .item{
	padding-left:14px;
	margin: 20px 0;
}
.item .content{
	font-size: 12.5px;
	line-height: 20px;
	color:grey;
}
.title{
	line-height: 22px;
	color:black;
}
.experience. .title{
	margin-bottom: 10px;
}
.ability .title{
	margin: 5px 0;
}
.title .period, .ability .title{
	position: relative;
}
.title .period:before{
	position:absolute;
	content: '';
	top:50%;
	height:11px;
	width:11px;
	margin-left:-24px;
	background-color: #188EEE;
    border: 3px solid #C9E0F4;
    border-radius: 50%;
    transform: translateY(-50%);
}
.title .option{
	position: absolute;
	top: 50%;
	right:0;
	height:18px;
	width:40px;
	font-size:11px;
	line-height: 18px;
	color: grey;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 10px;
	transform: translateY(-50%);
}
.progress,.progressbar{
	height:5px;
	margin: 10px 0;
	border-radius:10px;
}
.progress{
	background-color: #CCC;
}
.progressbar{
	background: linear-gradient(to right, #117AD4 30%, #10AFED);
}
.ability .item:hover .progressbar{
	animation: 1.2s cubic-bezier(0.23,1,0.32,1) progressing;
}
.pb90{
	width:90%;
}
.pb50{
	width:50%;
}
.pb20{
	width:20%;
}
@media(min-width: 768px){
	.resume{
		flex-direction: row;
	}
}
@media(max-width: 768px){
	.resume{
		flex-direction: column;
	}
	.cover{
		height:100vh;
	}
}